.update0 label {
    padding-left: 80px;
    padding-top: 20px;
}

.update1 label {
    padding-left: 80px;
     padding-top: 20px;
}


.update2 label {
    padding-left: 80px;
    padding-top: 20px;
}

.update3 label {
    padding-left: 80px;
    padding-top: 20px;
}

.update4 label {
    padding-left: 80px;
    padding-top: 20px;
}
.update6{
    padding-left: 550px;
}
.update6 button{
    margin-top: 20px;
    margin-left: 50px;
}
.update6 h2{
    padding-left: 50px;
}